---
import Section from "../Section.astro"
---
<Section title="Educación">
<p>Estudiante de último cuatrimestre de la carrera Ingeniería en desarrollo de Software, de la Universidad Politécnica de Chiapas</p>
</Section>
